<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{client/layout/default}"
      class="no-js">
<head layout:fragment="head-content">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="GARO is a real-estate template">
  <meta name="author" content="Kimarotec">
  <meta name="keyword"
        content="html5, css, bootstrap, property, real-estate theme , bootstrap template">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Trang chủ</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet'
        type='text/css'>

  <!-- Place favicon.ico  the root directory -->
  <link rel="shortcut icon" th:href="@{/client/favicon.ico}" type="image/x-icon">
  <link rel="icon" th:href="@{/client/favicon.ico}" type="image/x-icon">

  <link rel="stylesheet" th:href="@{/client/assets/css/normalize.css}">
  <link rel="stylesheet" th:href="@{/client/assets/css/font-awesome.min.css}">
  <link rel="stylesheet" th:href="@{/client/assets/css/fontello.css}">
  <link th:href="@{/client/assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css}" rel="stylesheet">
  <link th:href="@{/client/assets/fonts/icon-7-stroke/css/helper.css}" rel="stylesheet">
  <link th:href="@{/client/assets/css/animate.css}" rel="stylesheet" media="screen">
  <link rel="stylesheet" th:href="@{/client/assets/css/bootstrap-select.min.css}">
  <link rel="stylesheet" th:href="@{/client/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/client/assets/css/icheck.min_all.css}">
  <link rel="stylesheet" th:href="@{/client/assets/css/price-range.css}">
  <link rel="stylesheet" th:href="@{/client/assets/css/owl.carousel.css}">
  <link rel="stylesheet" th:href="@{/client/assets/css/owl.theme.css}">
  <link rel="stylesheet" th:href="@{/client/assets/css/owl.transitions.css}">
  <link rel="stylesheet" th:href="@{/client/assets/css/style.css}">
  <link rel="stylesheet" th:href="@{/client/assets/css/responsive.css}">
</head>
<body>
<!-- property area -->
<div layout:fragment="content">
  <div class="slider-area">
    <div class="slider">
      <div id="bg-slider" class="owl-carousel owl-theme">

        <div class="item"><img th:src="@{/client/assets/img/slide1/slider-image-2.jpg}"
                               alt="The Last of us">
        </div>
        <div class="item"><img th:src="@{/client/assets/img/slide1/slider-image-1.jpg}" alt="GTA V">
        </div>

      </div>
    </div>
    <div class="container slider-content">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
          <h2>Tìm kiếm chỉ với một cú nhấp chuột</h2>
          <p>Tìm kiếm phòng trọ dễ dàng và nhanh chóng chỉ với một cú nhấp chuột trên website của
            chúng tôi. Khám phá hàng ngàn danh sách phòng trọ, xem thông tin chi tiết, vị trí, tiện
            nghi, và giá cả. Tìm kiếm phòng trọ hoàn hảo cho riêng bạn ngay bây giờ!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="home-lager-shearch"
       style="background-color: rgb(252, 252, 252); padding-top: 25px; margin-top: -125px;">
    <div class="container">
      <div class="col-md-12 large-search">
        <div class="search-form wow pulse">
          <form class=" form-inline" id="form-search">
            <div class="col-md-12">
              <div class="col-md-3">
                <input type="text" id="exact-address" class="form-control"
                       placeholder="Số nhà, địa chỉ cụ thể nhà trọ">
              </div>
              <div class="col-md-3">
                <select id="property_city__select" class="selectpicker"
                        data-live-search="true"
                        title="Tỉnh/Thành Phố">
                  <!--                                        th:field="*{selectedOption}"-->
                  <option disabled>--Chọn một tùy chọn--</option>
                </select>
              </div>
              <div class="col-md-3">
                <select id="property_district__select" class="selectpicker"
                        data-live-search="true"
                        title="Quận/Huyện">
                  <option disabled>--Chọn một tùy chọn--</option>
                </select>
              </div>
              <div class="col-md-3">
                <select id="property_ward__select" class="selectpicker"
                        data-live-search="true"
                        title="Phường/Xã">
                  <option disabled>--Chọn một tùy chọn--</option>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="search-row">

                <div class="col-sm-6">
                  <label for="price-range">Khoảng giá (₫):</label>
                  <input type="text" class="span2" value="" data-slider-min="0"
                         data-slider-max="10000000" data-slider-step="5"
                         data-slider-value="[500000,2000000]" id="price-range"><br/>
                  <b class="pull-left color">0₫</b>
                  <b class="pull-right color">10.000.000₫</b>
                </div>
                <!-- End of  -->

                <div class="col-sm-6">
                  <label for="acreage-range">Khoảng diện tích (m2) :</label>
                  <input type="text" class="span2" value="" data-slider-min="0"
                         data-slider-max="200" data-slider-step="5"
                         data-slider-value="[15,30]" id="acreage-range"><br/>
                  <b class="pull-left color">0m2</b>
                  <b class="pull-right color">200m2</b>
                </div>
                <!-- End of  -->
              </div>
            </div>
            <div class="center">
              <input type="submit" value="" class="btn btn-default btn-lg-sheach">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- property area -->
  <div class="content-area recent-property"
       style="background-color: #FCFCFC; padding-bottom: 55px;">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
          <!-- /.feature title -->
          <h2>Phòng mới</h2>
          <p>Chúng tôi cam kết cung cấp cho bạn những thông tin chi tiết về các phòng trọ, bao gồm
            vị trí, diện tích, tiện nghi, giá cả, và hình ảnh thực tế của phòng!</p>
        </div>
      </div>

      <div class="row">
        <div class="proerty-th" id="post-new">
        </div>
      </div>
    </div>
  </div>

  <!--Welcome area -->
  <div class="Welcome-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12 Welcome-entry  col-sm-12">
          <div class="col-md-5 col-md-offset-2 col-sm-6 col-xs-12">
            <div class="welcome_text wow fadeInLeft" data-wow-delay="0.3s" data-wow-offset="100">
              <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                  <!-- /.feature title -->
                  <h2>FSTACK</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-sm-6 col-xs-12">
            <div class="welcome_services wow fadeInRight" data-wow-delay="0.3s"
                 data-wow-offset="100">
              <div class="row">
                <div class="col-xs-6 m-padding">
                  <div class="welcome-estate">
                    <div class="welcome-icon">
                      <i class="pe-7s-home pe-4x"></i>
                    </div>
                    <h3>Chỗ ở bất kỳ</h3>
                  </div>
                </div>
                <div class="col-xs-6 m-padding">
                  <div class="welcome-estate">
                    <div class="welcome-icon">
                      <i class="pe-7s-users pe-4x"></i>
                    </div>
                    <h3>Đa dạng khách hàng</h3>
                  </div>
                </div>


                <div class="col-xs-12 text-center">
                  <i class="welcome-circle"></i>
                </div>

                <div class="col-xs-6 m-padding">
                  <div class="welcome-estate">
                    <div class="welcome-icon">
                      <i class="pe-7s-notebook pe-4x"></i>
                    </div>
                    <h3>Dễ sử dụng</h3>
                  </div>
                </div>
                <div class="col-xs-6 m-padding">
                  <div class="welcome-estate">
                    <div class="welcome-icon">
                      <i class="pe-7s-help2 pe-4x"></i>
                    </div>
                    <h3>Hỗ trợ nhanh</h3>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--TESTIMONIALS -->
  <div class="testimonial-area recent-property"
       style="background-color: #FCFCFC; padding-bottom: 15px;">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
          <!-- /.feature title -->
          <h2>Khách Hàng Của Chúng Tôi Đã Nói </h2>
        </div>
      </div>

      <div class="row">
        <div class="row testimonial">
          <div class="col-md-12">
            <div id="testimonial-slider">
              <div class="item">
                <div class="client-text">
                  <p>Hiệu quả khá cao trong khi chi phí khá thấp, không còn tình trạng phòng trống
                    kéo
                    dài!</p>
                  <h4><strong>Anh Khánh, </strong><i>Chủ hệ thống phòng trọ tại Hà Nội</i></h4>
                </div>
                <div class="client-face wow fadeInRight" data-wow-delay=".9s">
                  <img th:src="@{/client/assets/img/client-face1.png}" alt="">
                </div>
              </div>
              <div class="item">
                <div class="client-text">
                  <p>Hiệu quả khá cao trong khi chi phí khá thấp, không còn tình trạng phòng trống
                    kéo
                    dài!</p>
                  <h4><strong>Anh Khánh, </strong><i>Chủ hệ thống phòng trọ tại Hà Nội</i></h4>
                </div>
                <div class="client-face">
                  <img th:src="@{/client/assets/img/client-face2.png}" alt="">
                </div>
              </div>
              <div class="item">
                <div class="client-text">
                  <p>Hiệu quả khá cao trong khi chi phí khá thấp, không còn tình trạng phòng trống
                    kéo
                    dài!</p>
                  <h4><strong>Anh Khánh, </strong><i>Chủ hệ thống phòng trọ tại Hà Nội</i></h4>
                </div>
                <div class="client-face">
                  <img th:src="@{/client/assets/img/client-face1.png}" alt="">
                </div>
              </div>
              <div class="item">
                <div class="client-text">
                  <p>Hiệu quả khá cao trong khi chi phí khá thấp, không còn tình trạng phòng trống
                    kéo
                    dài!</p>
                  <h4><strong>Anh Khánh, </strong><i>Chủ hệ thống phòng trọ tại Hà Nội</i></h4>
                </div>
                <div class="client-face">
                  <img th:src="@{/client/assets/img/client-face2.png}" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Count area -->
  <div class="count-area">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
          <!-- /.feature title -->
          <h2>Bạn có thể tin tưởng chúng tôi </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-xs-12 percent-blocks m-main" data-waypoint-scroll="true">
          <div class="row">
            <div class="col-sm-3 col-xs-6">
              <div class="count-item">
                <div class="count-item-circle">
                  <span class="pe-7s-users"></span>
                </div>
                <div class="chart" data-percent="5000">
                  <h2 class="percent" id="counter">0</h2>
                  <h5>KHÁCH HÀNG </h5>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-xs-6">
              <div class="count-item">
                <div class="count-item-circle">
                  <span class="pe-7s-home"></span>
                </div>
                <div class="chart" data-percent="12000">
                  <h2 class="percent" id="counter1">0</h2>
                  <h5>Chỗ ở</h5>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-xs-6">
              <div class="count-item">
                <div class="count-item-circle">
                  <span class="pe-7s-flag"></span>
                </div>
                <div class="chart" data-percent="120">
                  <h2 class="percent" id="counter2">0</h2>
                  <h5>Thành phố </h5>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-xs-6">
              <div class="count-item">
                <div class="count-item-circle">
                  <span class="pe-7s-graph2"></span>
                </div>
                <div class="chart" data-percent="5000">
                  <h2 class="percent" id="counter3">5000</h2>
                  <h5>Người đăng</h5>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Script area -->
  <script th:src="@{/client/assets/js/modernizr-2.6.2.min.js}"></script>

  <script th:src="@{/client/assets/js/jquery-1.10.2.min.js}"></script>
  <script th:src="@{/client/bootstrap/js/bootstrap.min.js}"></script>
  <script th:src="@{/client/assets/js/bootstrap-select.min.js}"></script>
  <script th:src="@{/client/assets/js/bootstrap-hover-dropdown.js}"></script>

  <script th:src="@{/client/assets/js/easypiechart.min.js}"></script>
  <script th:src="@{/client/assets/js/jquery.easypiechart.min.js}"></script>

  <script th:src="@{/client/assets/js/owl.carousel.min.js}"></script>

  <script th:src="@{/client/assets/js/wow.js}"></script>

  <script th:src="@{/client/assets/js/icheck.min.js}"></script>
  <script th:src="@{/client/assets/js/price-range.js}"></script>

  <script th:src="@{/client/assets/js/main.js}"></script>

  <!--Script handler area -->
  <script th:src="@{/client/assets/js/handler-search.js}"></script>
</div>
</body>
</html>